<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Toolbar -->
<div class="toolbar-wr">
  <div class="toolbar" role="banner">
    <h1>Angular app</h1>
    <div class="nav-wr">
      <nav>
        <div class="link-wr">
          <a routerLink="/projects"><h6>Projects</h6></a>
        </div>
        <div class="link-wr">
          <a routerLink="/tasks"><h6>Project Tasks</h6></a>
        </div>
        <div class="link-wr">
          <a routerLink="/teams"><h6>Teams</h6></a>
        </div>
        <div class="link-wr">
          <a routerLink="/users"><h6>Users</h6></a>
        </div>
      </nav>
    </div>
  </div>
</div>

<main>
  <router-outlet></router-outlet>
</main>