html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: "Times New Roman";
    src: url("../src/assets/fonts/gilroy-regular.ttf");
}

@font-face {
    font-family: "Times New Roman Semibold";
    src: url("../src/assets/fonts/gilroy-semibold.ttf");
}

@font-face {
    font-family: "Times New Roman Bold";
    src: url("../src/assets/fonts/gilroy-bold.ttf");
}

@font-face {
    font-family: "Times New Roman Italic";
    src: url("../src/assets/fonts/gilroy-medium-italic.ttf");
}

html,
body {
    height: 100%;
    font-family:'Times New Roman', Times, serif;
    font-size: 16px;
    background: #fdd0ec;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

h1 {
    font-size: 33px;
}

h2 {
    font-size: 29px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 22px;
}

h6 {
    font-size: 20px;
}

h1,
h2,
h3 {
    font-family: "Gilroy Bold";
}

h4,
h5,
h6 {
    font-family: "Gilroy Semibold";
}

form {
    width: min-content;
    padding: 5px;
}

.submit-wr {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type = submit] {
    width: 120px;
    height: 35px;

    background: black;
    color: white;
    border-radius: 2px;
    transition: .3s;

    border: none;
    outline: none;

    font-family: "Gilroy";
}

input[type = submit]:hover {
    transition: .3s;
    box-shadow: 0px 0px 5px 1px black;
}

input[type = submit][disabled] {
    background: #383838;
    box-shadow: none;
}

input[type = submit]:active {
    box-shadow: none;
}

.form-title {
    font-family: "Gilroy Semibold";
}

.form-control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
    margin: 9px 0 9px 0;

    label {
        font-size: .95em;
        margin-bottom: 3px;
        font-family: Gilroy;
    }

    input {
        border: 1px solid #d9dce9;
        outline: none;
        border-radius: 2px;

        height: 30px;
        width: 300px;
        font-family: Gilroy;
        font-size: 1em;
    }

    .errors-list {
        margin-top: 3px;
        
        .error {
            margin: 2px;

            font-size: .8em;
            font-family: Gilroy;
            color: #ff3333;
        }
    }
}